{% extends "learning_logs/base.html" %}

{% block header %}
    <div class="jumbotron">
        <h1 class="text-center" color="#EBC79E">学习笔记</h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/19/16/48/notebook-1840276_1280.jpg" class="rounded float-end" height="550px" width="1020px"/>
    </div>
{% endblock header%}

{% block content %}
    <h2>
        小哥哥小姐姐来<a href="{% url 'users:register' %}">注册</a>呀~
    </h2>
    <h2>
        这是wsd的学习笔记，好好学习。 完善中...
    </h2>
    <div style=" height:300px " ></div>
{% endblock content %}
